@charset "utf-8";
/* CSS Document */


/* second color [orange] */
	a, .styleSecondColor, 
	.list-icon.color li:before,
	.item-box-desc small,
	p.dropcap:first-letter,
	ul.pagination a,
	ul.pagination a:hover,
	ul.pagination li.active .fa,
	ul.star-rated.styleSecondColor li i,
	.tp-catpion a,
	.divider.styleColor .fa {
		color:#F07057;
	}
	#slider .btn.btn-default {
		color:#F07057 !important;
	}

	a:hover, a:active {
		color:#ed5434;
	}
body{
	padding-top: 100px;
}
.item-box-desc h2{
	font-size: 2.5rem;
	margin-top: 0rem;
}
.item-box-desc h3{
	font-size: 2rem;
	margin: 5px;
}
.item-box-desc{
	padding: 0rem;
}

@media (max-width: 1025px) {
 body{
	padding-top: 50px;
}
}
/*
.item-box-desc h2{
	font-family: "Open Sans",Helvetica,sans-serif;}
*/

.item-box-desc h2{
	font-size: 2rem;
}